:root {
  --light-bg: #f5f4ef;
  --dark-bg: #212529;
  --accent: #ffa500;
  --accent-dark: #ff6600;
  --bs-secondary: #6c757d;
  /*--bs-navbar-active-color: #ffa500 !important;*/
  --bs-font-sans-serif: "Google Sans", "Segoe UI", sans-serif;
  --bs-btn-font-family: "Google Sans", "Segoe UI", sans-serif;
  --btn-border-radius: 8px;
  --bs-border-width: 2px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  font-size: 18px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  } 

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body,
footer {
  background-color: var(--dark-bg);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  /*color: var(--text-h);*/
}

p {
  margin: 0;
}

img {
  vertical-align: text-bottom;
}

.btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  &.btn-solid {
    color: white;
    background-color: var(--accent);
    border: 2px solid transparent;
    &:hover {
      background-color: var(--accent-dark);
    }
  }
  &.btn-outline-warning {
    color: var(--accent);
    background-color: transparent;
    border: 2px solid var(--accent);
    &:hover {
      color: white;
      background-color: var(--accent);
    }
  }
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav {
  align-items: center;
  & .nav-link.active {
    color: orange;
    & img {
      filter: brightness(0) saturate(100%) invert(75%) sepia(24%)
        saturate(6408%) hue-rotate(359deg) brightness(100%) contrast(105%);
    }
  }
}

.nav-link {
  color: white;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent);
    transform: scaleX(0);
  }
  &:hover {
    color: orange;
    &:before {
      transform: scaleX(1);
    }
    & img {
      filter: brightness(0) saturate(100%) invert(75%) sepia(24%)
        saturate(6408%) hue-rotate(359deg) brightness(100%) contrast(105%);
    }
  }
  &.active:hover, &.nav-button:hover{
    &::before{
      transform: scaleX(0);
    }
  }
}
