:root {
  --light-bg: #F5F4EF;
  --dark-bg: #222;
  --accent: #ffa500;
  --accent-dark: #ff6600;
  font-family: "Google Sans", "Segoe UI", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 18px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  } 

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body,
footer {
  background-color: #222;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  /*color: var(--text-h);*/
}

p {
  margin: 0;
}

.btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  &.btn-solid {
    color: white;
    background-color: var(--accent);
    border: 2px solid transparent;
    &:hover {
      background-color: var(--accent-dark);
    }
  }
  &.btn-outline {
    /* color: #222; */
    color: var(--accent);
    background-color: transparent;
    border: 2px solid var(--accent);
    &:hover {
      color: white;
      background-color: var(--accent);
    }
  }
}
