.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  & img {
    vertical-align: text-bottom;
    margin-right: 0.5rem;
    filter: invert(100);
  }
}

.navbar {
  flex-grow: 1;
  & ul {
    display: flex;
    justify-content: center;
  }
  & li {
    list-style: none;
    padding: 0 1rem;
  }
}

.navbrand,
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbrand,
.navtrail {
  width: 30%;
}

.navbrand {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 1rem;
  align-items: start;
}

.navtrail {
  display: flex;
  justify-content: end;
  align-items: center;
  & ul {
    justify-content: end;
  }
  & img {
    margin: 0;
  }
}

.navlink {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 8px 0;
  &:before {
    content: "";
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent);
    transform: scaleX(0);
  }
  &:hover {
    color: orange;
    /* border-bottom: 2px solid orange; */
    &:before {
      transform: scaleX(1);
    }
  }
}

.navlinkImage:hover img{
  filter: brightness(0) saturate(100%) invert(75%) sepia(24%)
        saturate(6408%) hue-rotate(359deg) brightness(100%) contrast(105%);
}