h2 {
  text-align: center;
  margin-bottom: 1rem;
}

input {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid silver;
  /* font-family: "Courier New", Courier, monospace; */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  & label {
    font-size: small;
    margin-bottom: 0.05rem;
  }
}

.sectionTitle,
.sectionContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  height: 45dvh;
  background-image: url("/images/dark_warehouse.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.sectionContent {
  min-height: 45dvh;
  font-size: 16px;
}

.productForm {
  padding: 1rem;
  border-radius: 16px;
  color: #222;
  background-color: #f5f4ef;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 8px;
}
