.hero {
  color: white;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2rem;
  padding: 0 1rem;
  & .heroTitle {
    max-width: 50%;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
  }
  & .heroSubtitle {
    font-size: 2rem;
    max-width: 50%;
    line-height: 2.5rem;
  }
}
