.sectionTitleEmpty,
.sectionTitleFull,
.sectionContent {
  min-height: 45dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitleEmpty {
  background-image: url("/images/empty_cart.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.sectionTitleFull {
  background-image: url("/images/product_transport.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.sectionContent {
  flex-direction: column;
  color: var(--dark-bg);
  background-color: var(--light-bg);
  row-gap: 1rem;
  padding: 1rem,0;
}

img.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover; /* Crops and fills the container */
  object-position: center; /* Centers the cropped area */
  border-radius: 8px;
  vertical-align: middle;
}
