.navlink {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 8px 0;
  &:before {
    content: "";
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent);
    transform: scaleX(0);
  }
  &:hover {
    color: orange;
    /* border-bottom: 2px solid orange; */
    &:before {
      transform: scaleX(1);
    }
  }
}

.brandImage{
  width: 5dvh;
  margin-right: 0.5rem;
}

.brandTitle{
  font-size: 4dvh;
  font-weight: 500;
}

.btnLink{
  border: 2px solid var(--accent);
  border-radius: var(--btn-border-radius);
  padding: 8px 16px;
  &:hover{
    background-color: var(--accent);
  }
}

.imgLink{
  vertical-align: text-bottom;
  filter: invert(100);
}