*{
  transition: all 0.3s ease;
}

h3 {
  font-size: 1rem;
}

button{
  font-family: "Google Sans", "Segoe UI", sans-serif;
}

.card {
  position: relative;
  flex-grow: 1;
  min-width: 240px;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  &:hover{
    box-shadow: 0 0 16px rgba(0,0,0,0.35);
    transform: translateY(-3px);
    z-index: 1;
  }
}

.cardLink{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardHeader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* llena el contenedor manteniendo proporción */
    object-position: center; /* centra la imagen */
    display: block;
    margin: 0;
  }
}

.cardBody,
.cardFooter {
  padding: 0 1rem;
  position: relative;
}

.cardFooter{
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.productPrice {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.iconFav,
.iconCart {
  position: absolute;
  right: 1rem;
  filter: brightness(0) saturate(100%) invert(75%) sepia(24%) saturate(6408%) hue-rotate(359deg) brightness(100%) contrast(105%);
  cursor: pointer;
  text-decoration: none;
}

.iconFav { top: 10px; }

.iconCart { top: 0px; }



.qtyField{
  flex-grow: 1;
  text-align: center;
  border: 1px solid silver;
  border-radius: 4px;
}

.btnQty{
  width: 20px;
  height: 32px;
  padding: 8px 0px;    
  cursor: pointer;
}


.lblQty{
  padding: 8px 16px;    
  display: inline-block;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}


.btnQty,
.lblQty{
  background-color: transparent;
  border: 0px;
  font-size: 16px;
}

.cardSubmit{
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  color: #222;
  border-radius: 4px;
  border: 2px solid orange;
  background-color: transparent;
  &:hover{
    border-color: transparent;
    background-color: orange;
  }
}